.rplayer-control-bar {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 15px;
    width: 100%;
    height: 50px;
    transition: transform .3s;
    z-index: 10;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .3), transparent);
    color: #fff;

    &:not(.rplayer-show) {
        transform: translateY(100%);
    }


    .rplayer-slider-wrapper {
        bottom: 0;
    }

    .rplayer-controls-wrapper {
        display: flex;
        flex: 1;

        .rplayer-left-controls,
        .rplayer-right-controls {
            display: flex;
            align-items: center;
        }

        .rplayer-btn {
            width: 36px;
            height: 36px;
            padding: 0;
            border: none;
            background-color: transparent;
            color: #fff;
            cursor: pointer;

            &:hover {
                color: rgba(255, 255, 255, .9)
            }
            
            &:active {
                color: rgba(255, 255, 255, .6)
            }
        }

        .rplayer-right-controls {
            margin-left: auto;
        }
    }

    .rplayer-btn {

    }

    .rplayer-time-info {
        display: flex;
        align-items: center;
        margin-left: 20px;
        height: 100%;

        span {
            margin: 3px;
        }
    }

}