@import "./switch-state";
@import "./mini-progress";
@import "./volume";
@import "./show-volume-info";

.rplayer-addon-btn {
    display: inline-block;
    width: 24px;
    height: 20px;
    line-height: 20px;
    margin: 0 5px;
    border: none;
    outline: none;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;
    background-size: 96% 96%;
    color: #fff;
    transition: opacity 0.3s;
    opacity: 0.9;
    cursor: pointer;

    &:hover {
        opacity: 1;
        transform: scale(1.1);
    }
}

.rplayer-play-btn {
    background-image: url("../../icons/play.svg");

    &.rplayer-paused {
        background-image: url("../../icons/pause.svg");
    }
}

.rplayer-fullscreen-btn {
    background-image: url("../../icons/fullscreen.svg");
}

.rplayer-fullscreen .rplayer-fullscreen-btn {
    background-image: url("../../icons/fullscreen_exit.svg");
}
