.rplayer-addon-btn.rplayer-rate-btn {
    width: auto;
    text-align: center;
}

.rplayer-popup.rplayer-rate-popup {
    .rplayer-rate-item {
        padding: 5px 15px;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 14px;

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}
