.rplayer-switch-state-icon {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1);
    /*parcel relative to index.scss*/
    background: url("../../icons/play.svg") no-repeat center center/24px 24px #000;
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, .8);
    opacity: .8;
    z-index: 1;

    &.rplayer-paused {
        background-image: url("../../icons/pause.svg");
    }

    &.rplayer-transition {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0;
        transition: all .8s;
    }
}