@import "../vars";

.rplayer-addon-btn.rplayer-volume-btn {
    background-image: url("../../icons/volume.svg");

    &.rplayer-muted {
        background-image: url("../../icons/volume_mute.svg");
    }
}

.rplayer-volume-popup {
    align-items: center;
    width: 20px;
    padding: 10px;
    height: 130px;

    .rplayer-volume-slider {
        margin-top: 8px;
        flex: 1;
    }
}
