* {
    box-sizing: border-box;
}

.rplayer-container {
    position: relative;
}

.rplayer-container .rplayer-video {
    width: 100%;
}

.rplayer-lf {
    float: left !important;
}

.rplayer-rt {
    float: right !important;
}

.rplayer-container .rplayer-controls {
    position: relative;
    line-height: 32px;
    padding: 5px 0;
    background-color: #fafafa;
}

.rplayer-container .rplayer-controls:after {
    content: '';
    display: block;
    clear: both;
}

.rplayer-controls .rplayer-bufferd-bar,
.rplayer-controls .rplayer-bar,
.rplayer-controls .rplayer-slider{
    position: absolute;
}

.rplayer-controls .rplayer-progress-panel {
    position: absolute;
    top: 0;
    width: 100%;
}


.rplayer-controls .rplayer-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    transition: height .3s;
    background-color: #dadada;
    cursor: pointer;
}

.rplayer-controls .rplayer-progress:hover {
    height: 8px;
}

.rplayer-controls .rplayer-bufferd-bar,
.rplayer-controls .rplayer-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30%;
    height: 100%;
}

.rplayer-controls .rplayer-bufferd-bar {
    width: 50%;
    background: #5a5a5a;
}

.rplayer-controls .rplayer-bar {
    height: 100%;
    background: #5185f3;
    z-index: 3;
}

.rplayer-controls .rplayer-slider {
    width: 12px;
    height: 12px;
    left: 50%;
    bottom: 50%;
    border-radius: 50%;
    background: #5185f3;
    transition: box-shadow .3s;
    cursor: pointer;
}

.rplayer-controls .rplayer-slider.video-progress {
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
}

.rplayer-controls .rplayer-slider:hover {
    box-shadow: 0 0 5px #5185f3;
}

.rplayer-controls .rplayer-time-info {
    color: #555;
}

.rplayer-controls button {
    width: 32px;
    height: 32px;
    border: none;
    outline: none;
    vertical-align: middle;
    background: transparent;
    background-size: 100% 100%;
    cursor: pointer;
}

.rplayer-controls .rplayer-play-btn {
    margin: 0 10px;
    background-image: url('data: image/svg+xml, <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M244.224 128.597333C203.605333 104.704 170.666667 123.648 170.666667 170.24v683.434667c0 46.933333 33.066667 65.493333 73.557333 41.685333l578.218667-340.138667c40.618667-23.893333 40.533333-62.72 0-86.528L244.224 128.597333z" fill="#5a5a5a"></path></svg>');
}

.rplayer-controls .rplayer-play-btn:hover {
    background-image: url('data: image/svg+xml, <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M244.224 128.597333C203.605333 104.704 170.666667 123.648 170.666667 170.24v683.434667c0 46.933333 33.066667 65.493333 73.557333 41.685333l578.218667-340.138667c40.618667-23.893333 40.533333-62.72 0-86.528L244.224 128.597333z" fill="#5185f3"></path></svg>');
}

.rplayer-controls .rplayer-play-btn.paused {
    background-image: url('data: image/svg+xml, <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M228.9216 842.846933l188.900267 0L417.821867 181.697067 228.9216 181.697067 228.9216 842.846933zM606.722133 181.697067l0 661.150933 188.900267 0L795.6224 181.697067 606.722133 181.697067z" fill="#5a5a5a"></path></svg>');
}

.rplayer-controls .rplayer-play-btn.paused:hover {
    background-image: url('data: image/svg+xml, <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M228.9216 842.846933l188.900267 0L417.821867 181.697067 228.9216 181.697067 228.9216 842.846933zM606.722133 181.697067l0 661.150933 188.900267 0L795.6224 181.697067 606.722133 181.697067z" fill="#5185f3"></path></svg>');
}

.rplayer-controls .rplayer-audio-control {
    position: relative;
    margin-right: 10px;
}

.rplayer-audio-control .rplayer-volume-popup {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 50px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 10px;
    background: #fafafa;
}

.rplayer-audio-control .rplayer-progress {
    position: relative;
    width: 6px;
    height: 100px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #dadada;
}

.rplayer-controls .rplayer-audio-btn.volume-1,
.rplayer-controls .rplayer-mute.volume-1 {
    background-image: url('data: image/svg+xml, <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M576 256a47.52 47.52 0 0 0-30.256 11.024l-0.16-0.176-162.592 133.04h-159.136v0.128A48 48 0 0 0 176 448v160a48 48 0 0 0 48 48h160.384l163.36 118.816 0.096-0.112c7.936 5.792 17.6 9.296 28.16 9.296a48 48 0 0 0 48-48V304a48 48 0 0 0-48-48z m190.432 46.816l-45.536 45.552C760.32 397.632 784 460 784 528s-23.68 130.368-63.088 179.632l45.536 45.568A350.512 350.512 0 0 0 848 528c0-85.68-30.672-164.16-81.568-225.184z" fill="#5a5a5a"></path></svg>');
}

.rplayer-controls .rplayer-audio-btn.volume-1:hover,
.rplayer-controls .rplayer-mute.volume-1:hover {
    background-image: url('data: image/svg+xml, <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M576 256a47.52 47.52 0 0 0-30.256 11.024l-0.16-0.176-162.592 133.04h-159.136v0.128A48 48 0 0 0 176 448v160a48 48 0 0 0 48 48h160.384l163.36 118.816 0.096-0.112c7.936 5.792 17.6 9.296 28.16 9.296a48 48 0 0 0 48-48V304a48 48 0 0 0-48-48z m190.432 46.816l-45.536 45.552C760.32 397.632 784 460 784 528s-23.68 130.368-63.088 179.632l45.536 45.568A350.512 350.512 0 0 0 848 528c0-85.68-30.672-164.16-81.568-225.184z" fill="#5185f3"></path></svg>');
}

.rplayer-controls .rplayer-audio-btn.volume-2,
.rplayer-controls .rplayer-mute.volume-2 {
    background-image: url('data: image/svg+xml, <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M811.216 162.048l-45.568 45.568C836.672 289.12 880 395.392 880 512s-43.328 222.88-114.336 304.368l45.568 45.584C893.776 768.784 944 646.288 944 512s-50.224-256.784-132.784-349.952zM496 240a47.52 47.52 0 0 0-30.256 11.024l-0.144-0.176-162.592 133.04H143.872v0.128A48 48 0 0 0 96 432v160a48 48 0 0 0 48 48h160.384l163.376 118.816 0.08-0.112c7.936 5.792 17.6 9.296 28.16 9.296a48 48 0 0 0 48-48V288a48 48 0 0 0-48-48z m190.432 46.816l-45.536 45.552C680.32 381.632 704 444 704 512s-23.68 130.368-63.088 179.632l45.536 45.568A350.512 350.512 0 0 0 768 512c0-85.68-30.672-164.16-81.568-225.184z" fill="#5a5a5a"></path></svg>');
}

.rplayer-controls .rplayer-audio-btn.volume-2:hover,
.rplayer-controls .rplayer-mute.volume-2:hover {
    background-image: url('data: image/svg+xml, <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M811.216 162.048l-45.568 45.568C836.672 289.12 880 395.392 880 512s-43.328 222.88-114.336 304.368l45.568 45.584C893.776 768.784 944 646.288 944 512s-50.224-256.784-132.784-349.952zM496 240a47.52 47.52 0 0 0-30.256 11.024l-0.144-0.176-162.592 133.04H143.872v0.128A48 48 0 0 0 96 432v160a48 48 0 0 0 48 48h160.384l163.376 118.816 0.08-0.112c7.936 5.792 17.6 9.296 28.16 9.296a48 48 0 0 0 48-48V288a48 48 0 0 0-48-48z m190.432 46.816l-45.536 45.552C680.32 381.632 704 444 704 512s-23.68 130.368-63.088 179.632l45.536 45.568A350.512 350.512 0 0 0 768 512c0-85.68-30.672-164.16-81.568-225.184z" fill="#5185f3"></path></svg>');
}

rplayer-controls .rplayer-audio-btn.volume-3,
.rplayer-controls .rplayer-mute.volume-3 {
    background-image: url('data: image/svg+xml, <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M400 240a47.52 47.52 0 0 0-30.256 11.024l-0.144-0.176-162.592 133.04H47.872v0.128A48 48 0 0 0 0 432v160a48 48 0 0 0 48 48h160.384l163.376 118.816 0.08-0.112c7.936 5.792 17.6 9.296 28.16 9.296a48 48 0 0 0 48-48V288a48 48 0 0 0-48-48z m190.432 46.816l-45.536 45.552C584.32 381.632 608 444 608 512s-23.68 130.368-63.088 179.632l45.536 45.568A350.512 350.512 0 0 0 672 512c0-85.68-30.672-164.16-81.568-225.184z m124.784-124.768l-45.568 45.568C740.672 289.12 784 395.392 784 512s-43.328 222.88-114.336 304.368l45.568 45.584C797.776 768.784 848 646.288 848 512s-50.224-256.784-132.784-349.952z m124.672-124.672l-45.296 45.296C897.376 196.208 960 346.784 960 512s-62.624 315.776-165.408 429.328l45.296 45.296C954.224 861.472 1024 694.912 1024 512c0-182.896-69.776-349.456-184.112-474.624z" fill="#5a5a5a"></path></svg>');
}

rplayer-controls .rplayer-audio-btn.volume-3:hover,
.rplayer-controls .rplayer-mute.volume-3:hover {
    background-image: url('data: image/svg+xml, <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M400 240a47.52 47.52 0 0 0-30.256 11.024l-0.144-0.176-162.592 133.04H47.872v0.128A48 48 0 0 0 0 432v160a48 48 0 0 0 48 48h160.384l163.376 118.816 0.08-0.112c7.936 5.792 17.6 9.296 28.16 9.296a48 48 0 0 0 48-48V288a48 48 0 0 0-48-48z m190.432 46.816l-45.536 45.552C584.32 381.632 608 444 608 512s-23.68 130.368-63.088 179.632l45.536 45.568A350.512 350.512 0 0 0 672 512c0-85.68-30.672-164.16-81.568-225.184z m124.784-124.768l-45.568 45.568C740.672 289.12 784 395.392 784 512s-43.328 222.88-114.336 304.368l45.568 45.584C797.776 768.784 848 646.288 848 512s-50.224-256.784-132.784-349.952z m124.672-124.672l-45.296 45.296C897.376 196.208 960 346.784 960 512s-62.624 315.776-165.408 429.328l45.296 45.296C954.224 861.472 1024 694.912 1024 512c0-182.896-69.776-349.456-184.112-474.624z" fill="#5185f3"></path></svg>');
}

rplayer-controls .rplayer-audio-btn.volume-mute,
.rplayer-controls .rplayer-mute.volume-mute {
    background-image: url('data: image/svg+xml, <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M496 256a47.52 47.52 0 0 0-30.256 11.024l-0.144-0.176-162.592 133.04H143.872v0.128A48 48 0 0 0 96 448v160a48 48 0 0 0 48 48h160.384l163.376 118.816 0.08-0.112c7.936 5.792 17.6 9.296 28.16 9.296a48 48 0 0 0 48-48V304a48 48 0 0 0-48-48z m355.888 272l62.064-62.064a48 48 0 0 0-67.888-67.872L784 460.128l-62.064-62.064a48 48 0 1 0-67.872 67.872L716.112 528l-62.064 62.064a48 48 0 0 0 67.888 67.872L784 595.888l62.064 62.064a48 48 0 0 0 67.872-67.888L851.888 528z" fill="#5a5a5a"></path></svg>');
}

rplayer-controls .rplayer-audio-btn.volume-mute:hover,
.rplayer-controls .rplayer-mute.volume-mute:hover {
    background-image: url('data: image/svg+xml, <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M496 256a47.52 47.52 0 0 0-30.256 11.024l-0.144-0.176-162.592 133.04H143.872v0.128A48 48 0 0 0 96 448v160a48 48 0 0 0 48 48h160.384l163.376 118.816 0.08-0.112c7.936 5.792 17.6 9.296 28.16 9.296a48 48 0 0 0 48-48V304a48 48 0 0 0-48-48z m355.888 272l62.064-62.064a48 48 0 0 0-67.888-67.872L784 460.128l-62.064-62.064a48 48 0 1 0-67.872 67.872L716.112 528l-62.064 62.064a48 48 0 0 0 67.888 67.872L784 595.888l62.064 62.064a48 48 0 0 0 67.872-67.888L851.888 528z" fill="#5185f3"></path></svg>');
}

.rplayer-controls .rplayer-mute {
    width: 26px;
    height: 26px;
    margin-top: 5px;
}

.rplayer-audio-control .rplayer-bar {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    border-radius: inherit;
    background: #5185f3;
}

.rplayer-audio-control .rplayer-slider {
    left: 50%;
    bottom: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.rplayer-controls .rplayer-fullscreen-btn {
    margin-right: 10px;
    background: url('data: image/svg+xml, <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5687" width="32" height="32"><defs><style type="text/css"></style></defs><path d="M410.88 794.026667c8.106667 8.106667 5.546667 17.066667-5.973333 18.773333l-215.893334 35.84c-7.68 2.133333-15.786667-2.56-17.92-10.24-0.853333-2.56-0.853333-5.12 0-7.253333l35.84-215.893334c1.706667-11.52 10.24-14.506667 18.773334-5.973333l61.866666 61.866667 120.32-120.32 61.013334 61.013333-120.32 120.32 62.293333 61.866667z m424.533333-627.2l-215.893333 35.84c-11.52 1.706667-14.506667 10.24-5.973333 18.773333l61.866666 61.866667-120.32 120.32 61.013334 61.013333 120.32-120.32 61.866666 61.866667c8.106667 8.106667 17.066667 5.546667 18.773334-5.973334l35.84-215.893333c2.133333-7.68-2.56-15.36-10.24-17.92-2.133333 0-4.693333 0-7.253334 0.426667z" fill="#5a5a5a"></path></svg>') no-repeat center center/80% 80%;
}

.rplayer-controls .rplayer-fullscreen-btn:hover {
    background-image: url('data: image/svg+xml, <svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5687" width="32" height="32"><defs><style type="text/css"></style></defs><path d="M410.88 794.026667c8.106667 8.106667 5.546667 17.066667-5.973333 18.773333l-215.893334 35.84c-7.68 2.133333-15.786667-2.56-17.92-10.24-0.853333-2.56-0.853333-5.12 0-7.253333l35.84-215.893334c1.706667-11.52 10.24-14.506667 18.773334-5.973333l61.866666 61.866667 120.32-120.32 61.013334 61.013333-120.32 120.32 62.293333 61.866667z m424.533333-627.2l-215.893333 35.84c-11.52 1.706667-14.506667 10.24-5.973333 18.773333l61.866666 61.866667-120.32 120.32 61.013334 61.013333 120.32-120.32 61.866666 61.866667c8.106667 8.106667 17.066667 5.546667 18.773334-5.973334l35.84-215.893333c2.133333-7.68-2.56-15.36-10.24-17.92-2.133333 0-4.693333 0-7.253334 0.426667z" fill="#5185f3"></path></svg>');
}