@import "../vars";

.rplayer-control {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 5px 10px;
    box-sizing: border-box;
    transform: translateY(100%);
    transition: transform 0.3s;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), transparent);
    user-select: none;
    font-size: 14px;
    z-index: 100;
    cursor: default;

    &.rplayer-show {
        transform: translateY(0);
    }

    .rplayer-progress-wrapper {
        .rplayer-buffered-progress {
            position: absolute;
            width: 0;
            height: $slider_size;
            background-color: rgba(255, 255, 255, 0.8);
            z-index: -1;
        }
        .rplayer-slider-marker {
            opacity: 0;
        }

        .rplayer-slider-wrapper:hover,
        .rplayer-slider-moving {
            .rplayer-slider-marker {
                opacity: 1;
            }
        }
    }

    .rplayer-addon-wrapper {
        @include flex-v-center();
        flex: 1;

        .rplayer-left-addon-container,
        .rplayer-right-addon-container {
            @include flex-v-center();
        }

        .rplayer-left-addon-container {
            margin-right: auto;
        }
    }

    .rplayer-addon {
        min-width: 20px;
        height: 20px;
        cursor: pointer;

        + .rplayer-addon {
            margin-left: 15px;
        }
    }
}
