.rplayer-control {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    box-sizing: border-box;
    transform: translateY(100%);
    transition: transform .3s;
    user-select: none;
    font-size: 14px;
    z-index: 100;

    &.rplayer-show {
        transform: translateY(0);
    }

    .rplayer-progress-wrapper {
        display: flex;
        align-items: center;
        color: #fff;

        .rplayer-progress-bar {
            flex: 1;
            margin: 0 12px;
        }

        .rplayer-slider-marker {
            opacity: 0;
        }

        .rplayer-slider-wrapper:hover,
        .rplayer-slider-moving {
            .rplayer-slider-marker {
                opacity: 1;
            }
        }
    }

    .rplayer-addon-wrapper {
        display: flex;
        flex: 1;
        align-items: center;
        padding: 0 10px;

        .left-addon-container,
        .right-addon-container {
            display: flex;
        }

        .left-addon-container {
            margin-right: auto;
        }
    }

    .rplayer-addon {
        min-width: 20px;
        height: 20px;
        cursor: pointer;

        +.rplayer-addon {
            margin-left: 15px;
        }
    }
}