.rplayer-popup {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 5px 0;
    border-radius: 5px;
    transform: translateY(10%);
    transform-origin: bottom center;
    background-color: $black_translucent;
    color: #fff;
    font-size: 14px;
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
    z-index: 199;

    &.rplayer-show {
        opacity: 1;
        transform: translateY(0);
        will-change: opacity, transform;
    }
}
