@import "../vars";

$track_size: 5px;

.rplayer-slider-wrapper {
    $marker_size: 14px;

    position: relative;
    bottom: 0;
    height: $track_size;
    background-color: rgba(255, 255, 255, .5);
    transition: all .3s;
    user-select: none;
    cursor: pointer;

    .rplayer-slider-marker {
        position: absolute;
        left: 0%;
        bottom: 50%;
        width: $marker_size;
        height: $marker_size;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .8);
        transform: translate(-50%, 50%);
        z-index: 10;
        transition: opacity .3s;
    }

    .rplayer-slider-track {
        position: relative;
        height: 100%;
        width: 100%;
        z-index: 5;
    }

    .rplayer-slider-primary-progress {
        position: relative;
        width: 0;
        height: 100%;
        background-color: $color;
        z-index: 2;
    }

    .rplayer-slider-secondary-progress {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 100%;
        background-color: rgba(255, 255, 255, .5);
        z-index: 1;
    }

    .rplayer-slider-tooltip {
        position: absolute;
        bottom: 12px;
        left: 0;
        padding: 5px;
        font-size: 12px;
        background-color: rgba(0, 0, 0, .5);
        color: #fff;

        &.show {
            display: block;
        }
    }
}

.rplayer-slider-wrapper-vertical {
    width: $track_size;
    height: 100%;

    .rplayer-slider-marker {
        left: 50%;
        bottom: 0;
    }

    .rplayer-slider-track {
        position: relative;
        height: 100%;
        width: 100%;
        z-index: 5;
    }

    .rplayer-slider-primary-progress {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
    }

    .rplayer-slider-secondary-progress {
        height: 0;
        width: 100%;
    }

    .rplayer-slider-tooltip {
        bottom: 0;
        left: 12px;
        transition: transform .3s, opacity .3s;
    }
}