.rplayer-addons-wrapper {
    display: flex;
    flex-grow: 1;
}

.rplayer-addon {
    $size: 26px;
    width: $size;
    height: $size;
}

.rplayer-addon-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

    &:hover {
        filter: brightness(.85);
    }
}

// toggle-play
.rplayer-toggle-btn {
    background-image: url(../../icons/pause.svg);

    &.rplayer-paused {
        background-image: url(../../icons/play.svg);
    }
}

// fullscreen
.rplayer-fullscreen-btn {
    background-image: url(../../icons/fullscreen.svg);

    &.rplayer-fullscreen-in {
        background-image: url(../../icons/fullscreen-exit.svg);
    }
}