@use "./vars";

.rplayer-addons-wrapper {
    display: flex;
    flex-grow: 1;

    .rplayer-left-addons,
    .rplayer-center-addons,
    .rplayer-right-addons {
        display: flex;
        align-items: center;
    }
}

.rplayer-addon {
    margin: 0 10px;
}

.rplayer-addon-btn {
    $size: 26px;
    width: $size;
    height: $size;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    color: #fff;

    &:hover {
        filter: brightness(.85);
    }
}

// toggle-play
.rplayer-toggle-btn {
    background-image: url(../../icons/pause.svg);

    &.rplayer-paused {
        background-image: url(../../icons/play.svg);
    }
}

// fullscreen
.rplayer-fullscreen-btn {
    background-image: url(../../icons/fullscreen.svg);

    &.rplayer-fullscreen-in {
        background-image: url(../../icons/fullscreen-exit.svg);
    }
}

// playback rate
.rplayer-rate-btn {
    width: auto;
    padding: 0;
    font-size: 18px;
}

.rplayer-rate-popup {
    width: 80px;
    color: #fff;

    .rplayer-rate-item {
        padding: 6px 15px;
        font-size: 16px;
        cursor: pointer;

        &.rplayer-active {
            color: vars.$color;
            font-weight: 600;
        }

        &:hover {
            background-color: rgba(255, 255, 255, .2);
        }
    }
}

// volume addon
.rplayer-volume-addon {
    display: flex;
    align-items: center;
    width: auto;

    .rplayer-volume-slider {
        overflow: hidden;
        width: 0;
        margin-left: 0;
        transition: width .15s;

        .rplayer-slider-marker {
            opacity: 1;
        }
    }

    &.rplayer-active .rplayer-volume-slider {
        width: 80px;
        margin: 0 12px;
        overflow: visible;
    }
}

// page-fullscreen
.rplayer-page-fullscreen-btn {
    background-image: url(../../icons/page-fullscreen.svg);

    &.rplayer-page-fullscreen-in {
        background-image: url(../../icons/page-fullscreen-exit.svg);
    }
}