@use "./vars";
@use "sass:color";

// toggle-state
.rplayer-toggle-state {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    padding: 20px;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(1);
    /*parcel relative to index.scss*/
    background: url("../../icons/play.svg") no-repeat center center/36px 36px #000;
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.8);
    opacity: 0.8;
    z-index: 9;

    &.rplayer-paused {
        background-image: url("../../icons/pause.svg");
    }

    &.rplayer-show {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0;
        transition: opacity 0.8s, transform 0.8s;
    }
}

//loading
$translate: translate(-50%, -50%);

.rplayer-loading {
    $size: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: $size;
    height: $size;
    border: 5px solid rgba(255, 255, 255, 0.8);
    border-bottom-color: transparent;
    pointer-events: none;
    border-left-color: transparent;
    border-radius: 50%;
    animation: rplayer-spinner linear 0.8s infinite;
    z-index: 9;
}

@keyframes rplayer-spinner {
    0% {
        transform: #{$translate} rotate(0);
    }

    100% {
        transform: #{$translate} rotate(360deg);
    }
}

// volume-state
.rplayer-volume-state {
    @include vars.abs-center();
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    pointer-events: none;
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    z-index: 9;

    .rplayer-volume-icon {
        $size: 36px;
        display: inline-block;
        width: $size;
        height: $size;
        background-size: 100% 100%;
        background-position: center center;
    }

    .rplayer-volume-text {
        min-width: 36px;
        margin-left: 5px;
    }
}

// error
.rplayer-error-wrapper {
    @include vars.fill-parent();
    @include vars.flex-center();
    flex-direction: column;
    pointer-events: auto;
    background-color: black;
    z-index: 999999;
    color: #fff;
    font-size: 18px;
    cursor: default;

    .rplayer-error-refresh {
        padding: 5px 10px;
        margin-top: 10px;
        border-radius: 3px;
        border: none;
        background-color: vars.$color;
        color: #fff;
        font-size: 14px;
        cursor: pointer;

        &:hover {
            background-color: color.scale(vars.$color, $blackness: 10%);
        }

        &:active {
            background-color: color.scale(vars.$color, $blackness: 20%);
        }
    }
}