.rplayer-popup {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 5px 0;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(60, 60, 60, .8);
    color: #fff;
    z-index: 99999;
}