@import "../vars";

.rplayer-slider-wrapper {
    $marker_size: 14px;

    position: relative;
    height: $slider_size;
    background-color: rgba(255, 255, 255, .5);
    transition: all .3s;
    user-select: none;
    cursor: pointer;

    &:hover, &.rplayer-moving {
        .rplayer-slider-marker {
            opacity: 1;
        }
    }

    .rplayer-slider-marker {
        position: absolute;
        left: 0%;
        bottom: 50%;
        width: $marker_size;
        height: $marker_size;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .8);
        transform: translate(-50%, 50%);
        z-index: 10;
        transition: opacity .3s;
        opacity: 0;
    }

    .rplayer-slider-buffer,
    .rplayer-slider-progress {
        position: absolute;
        width: 0;
        top: 0;
        left: 0;
        height: 100%;
    }

    .rplayer-slider-buffer {
        background-color: rgba(255, 255, 255, .8);
    }

    .rplayer-slider-progress {
        background-color: $color;
        z-index: 5;
    }

    .rplayer-slider-tooltip {
        position: absolute;
        bottom: 15px;
        padding: 5px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, .5);
        color: #fff;
        z-index: 999;
    }
}
