@use "./vars";
@use "./slider";
@use "./control-bar";
@use "./extensions";

.rplayer-root {

    &,
    * {
        box-sizing: border-box;
    }

    &.rplayer-no-cursor {
        cursor: none;
    }
}

.rplayer-hidden {
    display: none !important;
}

.rplayer-root {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    background-color: #000;
    user-select: none;

    &:focus {
        outline: none;
    }

    .rplayer-body {
        @include vars.fill-parent();
        z-index: 1;
    }
}

.rplayer-video-wrapper {
    @include vars.flex-center();
    @include vars.size-100();

    .rplayer-video {
        width: 100%;
        align-self: center;
    }
}