@use "./vars";
@use "./commons";
@use "./slider";
@use "./control-bar";
@use "./tooltip";
@use "./extensions";
@use "./addons";
@use "./contextmenu";
@use "./popup";

.rplayer-root {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    background-color: #000;
    font-size: 14px;

    .rplayer-body {
        @include vars.fill-parent();
        z-index: 1;
    }

    .rplayer-bottom-wrapper {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
    }

    .rplayer-video-wrapper {
        @include vars.flex-center();
        @include vars.size-100();

        .rplayer-video {
            width: 100%;
            align-self: center;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &,
    * {
        box-sizing: border-box;
    }

    &:focus {
        outline: none;
    }

    &.rplayer-error {
        pointer-events: none;
    }

    &.rplayer-no-cursor {
        cursor: none;
    }

    &.rplayer-page-fullscreen {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0;
    }
}