@import "./vars";

// addon btns
.rplayer-addon-btn {
    $size: 26px;

    display: inline-block;
    width: $size;
    height: $size;
    line-height: $size;
    margin: 0 10px;
    padding: 0;
    border: none;
    outline: none;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;
    background-size: 96% 96%;
    color: #fff;
    transition: all 0.3s;
    opacity: 0.8;
    cursor: pointer;
    font-size: 14px;

    &:hover {
        opacity: 1;
    }
}

// play button addon
.rplayer-play-btn {
    background-image: url("../../icons/play.svg");

    &.rplayer-paused {
        background-image: url("../../icons/pause.svg");
    }
}

// time addon
.rplayer-time-info {
    padding-top: 2px;
    color: #fff;
    font-size: 14px;
}

// operation plugin
.rplayer-operation {
    @include fill_parent();
    z-index: 99;

    .rplayer-operation-pause {
        $size: 80px;
        position: absolute;
        right: 30px;
        bottom: 60px;
        $bg_size: 80%;
        display: inline-block;
        width: $size;
        height: $size;
        border-radius: 5px;
        vertical-align: middle;
        background: rgba(0,0,0,.2) url(../../icons/play_feedback.svg) no-repeat center center/#{$bg_size} #{$bg_size};
    }
}

// load state plugin
.rplayer-state-wrapper {
    $size: 50px;
    @include flex_center();
    @include fill_parent();
    background-color: $black_translucent;

    .rplayer-loading-spinner {
        display: block;
        width: $size;
        height: $size;
        border: 5px solid rgba(255, 255, 255, .8);
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-radius: 50%;

        animation: rplayer-loading linear .8s infinite;
    }

    .rplayer-error-message {
        display: block;
        max-width: 80%;
        line-height: 1.5;
        font-size: 20px;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5),
            2px 2px 2px rgba(0, 0, 0, 0.4),
            3px 3px 3px rgba(0, 0, 0, 0.3),
            4px 4px 4px rgba(0, 0, 0, 0.2),
            5px 5px 5px rgba(0, 0, 0, 0.1);
    }
}

@keyframes rplayer-loading {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

// switch state plugin
.rplayer-play-state-icon {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1);
    /*parcel relative to index.scss*/
    background: url("../../icons/play.svg") no-repeat center center/24px 24px #000;
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, .8);
    opacity: .8;
    z-index: 1;

    &.rplayer-paused {
        background-image: url("../../icons/pause.svg");
    }

    &.rplayer-show {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0;
        transition: opacity .8s, transform .8s;
        will-change: opacity transform;
    }
}

// fullscreen button addon
.rplayer-fullscreen-btn {
    background-image: url("../../icons/fullscreen.svg");
}

.rplayer-fullscreen .rplayer-fullscreen-btn {
    background-image: url("../../icons/fullscreen_exit.svg");
}


.rplayer-no-cursor {
    &,
    > * {
        cursor: none;
    }
}