@import "./vars";
@import "./modules/slider";
@import "./modules/contextmenu";
@import "./modules/control-bar";
@import "./modules/video";
@import "./modules/tooltip";
@import "./addons/index";

.rplayer-hidden {
    display: none !important;
}

.rplayer-root {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    background-color: #000;

    &:focus {
        outline: none;
    }

    .rplayer-body {
        @include fill_parent();
    }
}

.rplayer-text-primary {
    color: $color;
}

.rplayer-root.rplayer-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
}

.rplayer-addon-btn {
    display: inline-block;
    width: 24px;
    height: 20px;
    line-height: 20px;
    margin: 0 5px;
    border: none;
    outline: none;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;
    background-size: 96% 96%;
    color: #fff;
    transition: opacity 0.3s;
    opacity: 0.9;
    cursor: pointer;

    &:hover {
        opacity: 1;
        transform: scale(1.1);
    }
}

.rplayer-play-btn {
    background-image: url("../../icons/play.svg");

    &.rplayer-paused {
        background-image: url("../../icons/pause.svg");
    }
}

.rplayer-time-info {
    color: #fff;
}

.rplayer-operation-plugin {
    @include fill_parent();
    z-index: 999;
}

.rplayer-state-wrapper {
    $size: 50px;
    @include flex_center();
    @include fill_parent();
    background-color: $black_translucent;

    .rplayer-loading-spinner {
        display: block;
        width: $size;
        height: $size;
        border: 5px solid rgba(255, 255, 255, .8);
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-radius: 50%;

        animation: rplayer-loading linear .8s infinite;
    }

    .rplayer-error-message {
        display: block;
        max-width: 80%;
        line-height: 1.5;
        font-size: 20px;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5),
            2px 2px 2px rgba(0, 0, 0, 0.4),
            3px 3px 3px rgba(0, 0, 0, 0.3),
            4px 4px 4px rgba(0, 0, 0, 0.2),
            5px 5px 5px rgba(0, 0, 0, 0.1);
    }
}

@keyframes rplayer-loading {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}