@import "./vars";
@import "./addons/index";
@import "./plugins/index";
@import "./builtin";
@import "./modules/index";

.rplayer-hidden {
    display: none !important;
}

.rplayer-root {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    background-color: #000;

    &:focus {
        outline: none;
    }

    .rplayer-body {
        @include fill_parent();
        z-index: 1;
    }
}

.rplayer-text-primary {
    color: $color;
}

.rplayer-root.rplayer-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
}